.new-tweet {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;

}

.label {
  width: 100%;
  font-weight: 600;
  color: rgb(116, 116, 116);
}

#tweetText {
  width: 100%;
  height: auto;
  resize: none;
  overflow: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid rgb(75, 75, 75);
  background-color: rgba(0,0,0,0);
  color: rgb(75, 75, 75);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

button {
  border: none;
  padding: 4px 12px;
  background-color:#4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 18px;
}

#counter {
  font-family: 'Bungee', cursive;
}

.submitLine {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#error {
  display: none;
  border: 3px dashed red;
  background-color: rgba(255, 0, 0, 0.1);
  width: 100%;
  padding: 2px;
  margin-top: 4px;
  font-weight: 600;
  text-align: center;
}

#error span {
  display: flex;
  justify-content: space-between;
}

#error i {
  color: red;
  margin: auto;
}